#equationList {
    list-style-type: none;
}

#left, #right{
    float: left;
	padding: 10px;
}

li {
    float: left;
	cursor: hand; cursor: pointer;
}

#variableList input{
	text-align: right;
}

.highlighted {
    -webkit-box-shadow: 0 0 8px #FFD700;
    -moz-box-shadow: 0 0 8px #FFD700;
    box-shadow: 0 0 8px #FFD700;
}